@import "~bootstrap/scss/bootstrap";
@import "variables";

html {
  font-size: 1em;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: Roboto,sans-serif;
  //font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.md-scroll-mask {
  position: initial;
}
